.dbcount-content {
	padding: 15px;
background: #cbf4c0;
height: 150px;
}


.dbcount-content-fail{
	padding: 15px;
background: #f6caca;;
}
.dbcount-content-total{
	padding: 15px;
background: #cfecf7;;
}
.dbcount .dbcount-label {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.dbcount h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.dbcount .dbcount-number {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.btnmargin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btndata {
	border-radius: 4px;
}