body {
 overflow-x:hidden;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.login-form {
		width: 340px;
    margin: 0px auto;
   
}
.login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
}
.login-form h2 {
        margin: 0 0 15px;
}
.form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
}
.btn {        
        font-size: 15px;
        font-weight: bold;
}
.login-bg { background:#0000FF;}
.create-text a{ color: #fff;}
.navbar-default { background: #fff;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover { color: #000}
.navbar-default .navbar-nav > li > a { color: #870000}
.head-page { color:#870000; font-size: 25px; margin-bottom: 30px;}
.head-page-left { color:#870000; font-size: 25px; margin-bottom: 10px; float: left;}
.head-page-right { color:#870000; font-size: 25px; margin-bottom: 10px; float: right;}
.container-sm { max-width: 800px; margin: 0 auto; padding: 30px 0;}
.container-sm-head {max-width: 800px; margin: 0 auto;}
.submit-btn { margin-top: 20px;}
.navbar-nav > li > a { padding: 25px 15px 25px 15px}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color: #000 }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { background:none; color:#870000; border-bottom: 1px solid #870000}
.login-bg {
  background: #870000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #190A05, #870000); height: 100vh;
}
.login-logo { text-align: center; display: block; padding:30px 0}
.navbar-nav > li > a { font-size: 16px; }
.main-div { background: #f1f1f1; padding:40px 20px}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {background: #fff}
.navbar { margin-bottom: 0; }
 .box{ display: none;}
 .box input[type="checkbox"], input[type="radio"] { float: left;  margin:0px 5px 0 5px}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background: none;}
.new-cls { margin-top: 30px;}
.filter-box{
  background:#f7f7f7;
  border-radius:4px;
  padding:20px;
  margin:10px 0 30px 0;
    display:none
}
.page-info-subset { margin-bottom: 20px;}
.mt-25 { margin-top: 25px;}
.mb-15 { margin-bottom: 15px; }
.btn {-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;}


.btn-primary { /*{background-image: linear-gradient(to right, #901515 0%, #BD3F32 51%, #a51212 100%); border: 1px solid #BD3F32;*/
  background: rgba(248,62,37,1);
background: -moz-linear-gradient(-45deg, rgba(248,62,37,1) 0%, rgba(244,139,123,1) 0%, rgba(157,21,21,1) 0%, rgba(157,21,21,1) 0%, rgba(243,71,48,1) 0%, rgba(157,21,21,1) 0%, rgba(201,85,70,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,62,37,1)), color-stop(0%, rgba(244,139,123,1)), color-stop(0%, rgba(157,21,21,1)), color-stop(0%, rgba(157,21,21,1)), color-stop(0%, rgba(243,71,48,1)), color-stop(0%, rgba(157,21,21,1)), color-stop(100%, rgba(201,85,70,1)));
background: -webkit-linear-gradient(-45deg, rgba(248,62,37,1) 0%, rgba(244,139,123,1) 0%, rgba(157,21,21,1) 0%, rgba(157,21,21,1) 0%, rgba(243,71,48,1) 0%, rgba(157,21,21,1) 0%, rgba(201,85,70,1) 100%);
background: -o-linear-gradient(-45deg, rgba(248,62,37,1) 0%, rgba(244,139,123,1) 0%, rgba(157,21,21,1) 0%, rgba(157,21,21,1) 0%, rgba(243,71,48,1) 0%, rgba(157,21,21,1) 0%, rgba(201,85,70,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(248,62,37,1) 0%, rgba(244,139,123,1) 0%, rgba(157,21,21,1) 0%, rgba(157,21,21,1) 0%, rgba(243,71,48,1) 0%, rgba(157,21,21,1) 0%, rgba(201,85,70,1) 100%);
background: linear-gradient(135deg, rgba(248,62,37,1) 0%, rgba(244,139,123,1) 0%, rgba(157,21,21,1) 0%, rgba(157,21,21,1) 0%, rgba(243,71,48,1) 0%, rgba(157,21,21,1) 0%, rgba(201,85,70,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f83e25', endColorstr='#c95546', GradientType=1 );}
.btn-primary:hover { background-position: right center !important; border: 1px solid #BD3F32;}

.btn-default {background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%)}
.btn-default:hover { background-position: right center;}

.btn-group { margin-bottom: 30px;}
.fa-eye { color: #870000; font-size: 18px !important; }
.customer-detail { margin-bottom: 20px; background: #eee; padding:15px 0 10px 0;}
.search-box h3 { margin-top: 10px }
.profile-wrap { margin-top: 100px; float: left; width: 100%}
.tablehighlight {
  background:#eee !important;
}
/* Absolute Center Spinner */
.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loader:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}

/* :not(:required) hides these rules from IE9 and below */
.loader:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loader:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
 .asterik {
        color:#f46442; 

 }
.validationAlert {
    position: relative;
    display: none;
    margin-left: 8px;
    padding-left: 20px;
    padding-top: 6px;
    font-size: 12px;
    font-family: verdana;
      color:#f46442; 

} 

.validationAlert:before{ 
 
    content: "\f071";   
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
  padding-top: 6px;
    
}   
.input-group-addon {
  background: none;
  border:none;
}

input:-webkit-autofill {
    background-color: #fff !important;
}
input {
     background-color: #fff !important;
}

input:-webkit-autofill {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input:focus,
input:-webkit-autofill:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 0 0px 9999px white,
  }

.mt15 {margin-top: 15px;}  

/*My Css starts*/

/*Transaction Start*/
.repeater-header {
    padding: 12px 0;
    border-bottom: 1px solid #DAE8F2;
    margin-bottom: 15px;
}

.repeater-header .repeater-caption {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 14px;
}
.semi-bold {
    font-weight: 600;
}
.info-text {
    color: rgba(50,50,50,0.45);
    font-size: 13px;
    margin-top: 5px;
}

.form-md label {
    color: #323232;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 2px;
    width: 100%;
}
.input-wrapper .has-file-upload {
    position: relative;
}
.fileUpload.btn.btn-clear {
    text-align: right;
    color: #416AA6;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload.btn.btn-clear {
    text-align: right;
    color: #416AA6;
}

.top-25 {
  top: 25px;
}
.dyno-div{
/*  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 10px;*/
}

/*Transaction Ends*/

/*Download Start*/
.main-div1 { background: #f1f1f1; padding:15px 20px}
.form-card-sm .caption {
    margin: 0;
        margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 12px;
    border-bottom: 1px solid #DAE8F2;
    margin-bottom: 12px;
}
.form-card-sm .form-md {
    padding: 12px;
}
.input-wrapper .has-file-upload {
    position: relative;
}
.fileUpload.btn.btn-clear {
    text-align: right;
    color: #416AA6;
}
.btn.btn-clear {
    background-color: transparent;
    border: 0 none;
}
.btn {
    border-radius: 4px;
}
.fileUpload {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
}

.input-wrapper .has-file-upload .form-control {
    cursor: pointer;
    padding-right: 84px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
        padding-right: 0px;
        padding-left: 0px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.form-md .form-control {
    border-radius: 0;
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    border-bottom: 1px solid #DAE8F2;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-sahdow: none;
    box-shadow: none;
}

.uploaded-csv-view .csv-item {
    display: table;
    width: 100%;
}
.uploaded-csv-view .csv-item .img-wrapper {
    width: 44px;
    max-width: 44px;
}
.uploaded-csv-view .icon-csv {
    width: 30px;
}
.uploaded-csv-view .csv-item .img-wrapper, .uploaded-csv-view .csv-item .csv-content, .uploaded-csv-view .csv-item .download-csv {
    display: table-cell;
    vertical-align: middle;
}
.uploaded-csv-view .csv-item .download-csv {
    width: 25px;
    max-width: 25px;
    text-align: right;
}
.uploaded-csv-view .csv-item .img-wrapper, .uploaded-csv-view .csv-item .csv-content, .uploaded-csv-view .csv-item .download-csv {
    display: table-cell;
    vertical-align: middle;
}

/*Download End*/