
<style>
.img-wrap{
    width:130px;
    margin:0 auto;
}
.img-wrap img{
max-width:100%;
max-height:100%;
overflow:hidden;
}
.page-not-found{
    display:table;
    height:100%;
    width:100%;
    vertical-align:middle;
}
.container{
    display:table-cell;
    vertical-align:middle;
    font-family: Arial;
    text-align:center;
}
p{
    font-size:18px;
    color:#787878;
}

h3 {
    color: #c3002f;
    font-size: 32px;
    font-family: Arial;
    margin-bottom: -6px;
}
.btn-green, .btn-green:hover, .btn-green:focus{
    height: 38px;
    width: 170px;
    background: #00a887;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    cursor: pointer;
    display: inline-block;
    line-height: 38px;
    text-decoration: none;
}
</style>
<div class="page-not-found">
    <div class="container text-center">
        <div class="img-wrap">
            <img src="/img/unlocked.png" alt="unlocked"/>
        </div>
        <h3>Access Denied</h3>
        <p>Your Request for this page has been denied because of access control</p>
        <!-- <a href="javascript:void(0);" onclick="goHome();" class="btn btn-green">Go Back Home</a> -->
    </div>
</div>
<script type="text/javascript">
    // function goHome(){
    //     window.location.href = window.location.origin;
    // }
</script>
