<% include ../layouts/error_header %>
<style>
body{
	background:#f9fafa
}
.img-wrap{
    width:auto;
    margin:0 auto;
}
.img-wrap img{
max-width:100%;
max-height:100%;
overflow:hidden;
}
.page-not-found{
   height:100%;
   
}
.container{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-family: Arial;
    text-align:center;
    left:0;
    right:0;
}
p{
    font-size:18px;
    color:#787878;
}

h3 {
    color: #c3002f;
    font-size: 32px;
    font-family: Arial;
    margin-bottom: -6px;
}
.btn-green, .btn-green:hover, .btn-green:focus{
    height: 38px;
    width: 170px;
    background: #00a887;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    cursor: pointer;
    display: inline-block;
    line-height: 38px;
    text-decoration: none;
}
</style>
<div class="page-not-found">
    <div class="container text-center">
    <div class="img-wrap">
    <img src="/images/pagenotfound.png" alt="pagenotfound"/>
    </div>
    <h3>Oops!</h3>
    <p>The page you are looking for could not be found</p>
    <!-- <a href="javascript:void(0);" class="btn btn-green">Go Back Home</a> -->
    </div>
</div>
<% include ../layouts/error_footer %>